<h1>Über uns</h1>
<p>
    Der VZW wurde im Jahr 1981 gegründet und gehört zu den führenden Vereinen, welche die Sportart Wasserspringen in der Schweiz anbieten. Ziel des Vereins ist es, diesen faszinierenden Sport einem breiten Publikum näher zu bringen. Mit Grundkursen für Kinder ab 5 Jahren, Plauschgruppen, Junioren und einer Elitegruppe (VZW-Power) bis hin zur Erwachsenengruppe (Masters), trainieren in unserem Verein Menschen aller Alters- und Leistungsklassen. In unserer langjährigen Geschichte errangen unsere Springerinnen und Springer weit über 250 Schweizermeistertitel. Zudem beteiligen sich unsere Athletinnen und Athleten an Europa- und Weltmeisterschaften, sowie an Olympischen Spielen.
</p>  
<h1>Organisation</h1> 
<p>
    Der Verein Zürcher Wasserspringer (VZW) mit Sitz in Zürich, bezweckt die Förderung des Wasserspringsportes. Er ist Mitglied des Schweizerischen Schwimmverbandes und unterstellt sich den Satzungen dieses Verbandes. Der VZW ist im weiteren Mitglied des Kantonalzürcherischen Schwimmverbandes, Mitglied der Interessengemeinschaft Stadtzürcher Schwimmsportler und anderer, dem Zwecke dienender Verbände. Die Organe des Vereins sind: die Jahresversammlung, der Vereinsvorstand und die Rechnungsrevisoren.
</p>    

