<h1>Wasserspringen und Schwimmen für die Kleinsten (4-6 Jahre)</h1>
<table mdbTable>
    <thead>
      <tr>
        <th>Name</th> 
        <th>Wochentag</th> 
        <th>Zeitspanne(Datum)</th> 
        <th>Zeitspann(Zeit)</th> 
        <th>Lektionen</th> 
        <th>Kosten</th> 
        <th>MaxTeilnehmer</th> 
      </tr>
    </thead>
    <tbody>
      <tr id="entry1">
        <td id="name">Kurs 1</td>
        <td id="day">Mittwoch</td>
        <td id="date">12.06.-18.06.2019</td>
        <td id="time">17:00-19:00</td>
        <td id="lessons">8</td>
        <td id="costs">350 CHF</td>
        <td id="max">20</td>
      </tr>
      <tr id="entry2">
          <td id="name"></td>
          <td id="day"></td>
          <td id="date"></td>
          <td id="time"></td>
          <td id="lessons"></td>
          <td id="costs"></td>
          <td id="max"></td>
        </tr>
    </tbody>
  </table>